mat-toolbar {
  display: flex;
  align-items: center;
  height: 64px;
  background: linear-gradient(135deg, #4CAF50, #45a049);
  color: white;
  flex-wrap: nowrap;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.spacer {
  flex: 1 1 auto;
  color: rgb(240, 233, 233)
}

a[mat-button] {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 1;
  color: white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.lang-switcher {
  width: 120px;
  margin-left: 20px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  ::ng-deep .mat-mdc-form-field-flex {
    align-items: center;
    height: 56px;
  }

  ::ng-deep .mat-mdc-select {
    color: white;
  }

  ::ng-deep .mat-mdc-select-arrow {
    color: rgb(255, 255, 255);
  }
}
